// COLORS

// PRIMARY
/// Blues
$primary-blue-50: #F0F9FF;
$primary-blue-100: #D1E9FF;
$primary-blue-200: #B2D6FF;
$primary-blue-300: #93BEFF;
$primary-blue-400: #74A3FF;
$primary-blue-500: #5583FF;
$primary-blue-600: #365FFF;
$primary-blue-700: #1641C3;
$primary-blue-800: #082D88;
$primary-blue-900: #001A4D;

/// Greens
$primary-green-50: #F0FAF8;
$primary-green-100: #D8F2EF;
$primary-green-200: #B7EDE6;
$primary-green-300: #94E3DA;
$primary-green-400: #6CD6CC;
$primary-green-500: #4BBFB6;
$primary-green-600: #2DA19A;
$primary-green-700: #157D79;
$primary-green-800: #055857;
$primary-green-900: #003636;

// BASICS
$white: #FFFFFF;
$black: #000000;

// SEMANTICS
/// Oranges
$alert-orange-50: #FFFAF2;
$alert-orange-100: #FEEED5;
$alert-orange-200: #FCDEAD;
$alert-orange-300: #F7C16D;
$alert-orange-400: #EFA539;
$alert-orange-500: #E48C13;
$alert-orange-600: #D37500;
$alert-orange-700: #BD6400;
$alert-orange-800: #A35100;
$alert-orange-900: #873F00;

/// Reds
$alert-red-50: #FFFAFA;
$alert-red-100: #FEE8E5;
$alert-red-200: #FCC7C0;
$alert-red-300: #F7988A;
$alert-red-400: #EE715E;
$alert-red-500: #E1543C;
$alert-red-600: #CF4124;
$alert-red-700: #B83315;
$alert-red-800: #9B2A0C;
$alert-red-900: #7D2207;

// NEUTRALS
$neutral-50: #F4F6F8;
$neutral-100: #E4E7EB;
$neutral-200: #CBD2D9;
$neutral-300: #9AA5B1;
$neutral-400: #7B8794;
$neutral-500: #616E7C;
$neutral-600: #52606D;
$neutral-700: #3E4C59;
$neutral-800: #2F3A45;
$neutral-900: #0E1C28;






