@import '../variables.scss';

.nyx-button {
  font-size: 16px;
  font-weight: 400;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 11px 20px;

  &__default {
    background-color: $neutral-100;

    &.nyx-button__filled {
      color: $neutral-900;
      background-color: $neutral-100;

      &:hover {
        background-color: $neutral-200;
      }
      &:active {
        background-color: $neutral-300;
      }

      &:disabled {
        color: $neutral-400;
        background-color: $neutral-100;
        cursor: not-allowed;
      }
    }

    &.nyx-button__outlined {
      color: $neutral-800;
      background-color: $white !important;
      border: 1px solid $neutral-800;

      &:hover {
        color: $neutral-900;
        border: 1px solid $neutral-900;
      }

      &:disabled {
        color: $neutral-400;
        border: 1px solid $neutral-400;
        cursor: not-allowed;
      }
    }
  }

  &__primary {
    background-color: $primary-blue-500;

    &.nyx-button__filled {
      color: $white;
      background-color: $primary-blue-500;

      &:hover {
        color: $neutral-900;
        background-color: $primary-green-400;
      }

      &:active {
        background-color: $primary-green-500;
      }

      &:disabled {
        color: $neutral-400;
        background-color: $neutral-100;
        cursor: not-allowed;
      }
    }

    &.nyx-button__outlined {
      color: $primary-blue-500;
      background-color: $white !important;
      border: 1px solid $primary-blue-500;

      &:hover {
        color: $primary-green-500;
        border: 1px solid $primary-green-500;
      }

      &:disabled {
        color: $neutral-400;
        border: 1px solid $neutral-400;
        cursor: not-allowed;
      }
    }
  }

  &__secondary {
    background-color: $primary-green-500;

    &.nyx-button__filled {
      color: $neutral-900;

      &:hover {
        background-color: $primary-blue-400;
        color: $white;
      }

      &:active {
        background-color: $primary-blue-500;
      }

      &:disabled {
        color: $neutral-400;
        background-color: $neutral-100;
        cursor: not-allowed;
      }
    }

    &.nyx-button__outlined {
      color: $primary-green-500;
      background-color: $white !important;
      border: 1px solid $primary-green-500;

      &:hover {
        color: $primary-blue-500;
        border: 1px solid $primary-blue-500;
      }

      &:disabled {
        color: $neutral-400;
        border: 1px solid $neutral-400;
        cursor: not-allowed;
      }
    }
  }

  &__x-small {
    font-size: 15px !important;
    padding: 9px 12px !important;
  }

  &__small {
    font-size: 16px !important;
    padding: 10px 16px !important;
  }

  &__large {
    font-size: 18px !important;
    padding: 12px 24px !important;
  }
}





