@import '../variables.scss';

.nyx-input {
  display: inline-block;
  position: relative;
  width: 300px;

  &--input {
    color: $black;
    padding: 12px;
    border: 1px solid $neutral-200;
    border-radius: 5px;
    width: calc(100% - 24px);

    &:hover,
    &:focus,
    &:active {
      border-color: $neutral-900;
      outline: none;
    }

    &__with-start-adornment {
      padding-left: 40px;
      width: calc(100% - 52px);

      &.nyx-input__with-end-adornment {
        width: calc(100% - 80px);
      }
    }

    &__with-end-adornment {
      padding-right: 40px;
      width: calc(100% - 52px);
    }

    &__with-help-text {
      margin-bottom: 20px;
    }
  }

  &--start-adornment {
    position: absolute;
    left: 5px;
    top: calc(50% - 8px);
  }

  &--end-adornment {
    position: absolute;
    right: 5px;
    top: calc(50% - 8px);
  }

  &--label {
    position: absolute;
    font-size: 12px;
    top: -6px;
    left: 10px;
    color: $neutral-500;
    background-color: $white;
  }

  &--help-text {
    position: absolute;
    left: 10px;
    bottom: 3px;
    font-size: 12px;
    color: $neutral-500;
  }

  &__dark {
    .nyx-input--input {
      color: $white;
      background-color: $neutral-700;
      border-color: $neutral-800;

      &:hover,
      &:focus,
      &:active {
        border-color: $neutral-100;
        outline: none;
      }
    }

    .nyx-input--label {
      color: $neutral-500;
      background-color: $neutral-700;
    }

    .nyx-input--help-text {
      color: $neutral-500;
    }
  }

  &__error {
    .nyx-input--input {
      border-color: $alert-red-700;
    }

    .nyx-input--label {
      color: $alert-red-700;
    }

    .nyx-input--help-text {
      color: $alert-red-700;
    }
  }

  &__disabled {
    .nyx-input--input {
      color: $neutral-500;
      border-color: $neutral-300;
      cursor: not-allowed;
    }

    .nyx-input--label {
      color: $neutral-500;
    }

    .nyx-input--help-text {
      color: $neutral-500;
    }
  }
}
